.PokeCard{
	font-size: 20px;
	font-family: "Comic Sans MS";
	text-align: center;
	background-color: lightgray;
	width: 200px;
	border-radius: 7px;
	padding: 10px;
	border: 1px solid;
	margin: 1rem;
	box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
	min-width: 200px;
}

.PokeCard_details *{
	margin:0px;
	padding: 0px;
}

img{
	width:100px;
}
